/*
.inner-table {
    tr td, tr th {
        border: none;
    }
    tr .order-item {
        width: 100%;
    }
    tr .order-checkbox {
        width: 20px;
    }
}
.table {
    td, th {
        min-width: 100px;
        text-align: center;
    }
    
}
*/

body {
    background-color: #eee;
}

.order-item{
 text-align: right;   
    
}

.checked{
 text-decoration: line-through;
}


.order-item {
  text-align: right;
   }

.checked {
  text-decoration: line-through;
   }


#orderName{

    margin-right:10px;

}

.locationTitle{
    font-size:3em;
}

div, table, tr, th, td {
    margin: 0;
    font-size: 18px !important;
    background-color: #eee !important;
}

th {
    font-size: 20px;
}

table {
    border: none !important;
}

.contact-container {
    margin: 0 auto;
    display: block;
    width: 200px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    div.form-group {
        width: 200px;
        font-size: 20px;
        input {
            border: solid 1px #ddd;
            border-radius: 5px;
            width: 100%;
            padding: 2px;
        }
    }
}
button {
    margin-top: 7px;
    width: 100%;
    padding: 4px 4px 8px 4px;
    border-radius: 5px;
    border: solid 1px #888;
    transition: all 0.5s;
    &:hover {
        color: white;
        background-color: #555;
    }
}

.btn-small {
    width: auto;
    padding: 5px;
}

#warning {
    height: 20px;
    color: red;
}
.landing-page {
    width: 100%;
    height: 100%;
    .logo {
        position: absolute;
        max-width: 80%;
        max-height: 50%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}